<%= turbo_frame_tag dom_id(project) do %>
  <p>
    <strong>Content:</strong>
    <%= project.content %>
  </p>

  <p>
    <strong>Like:</strong>
    <%= project.like %>
  </p>

  <%= link_to "Edit" , edit_project_path(project) %>
  <%= link_to "Show" , project_path(project) %>
  <%= button_to "Destroy this project", project, method: :delete %>

<% end %>