<p style="color: green"><%= notice %></p>
<div class="Polaris-LegacyCard">
  <div class="Polaris-LegacyCard__Header">
    <h2 class="Polaris-Text--root Polaris-Text--headingMd Polaris-Text--semibold">
      <p class="Polaris-Text--root Polaris-Text--heading2xl Polaris-Text--semibold">
        Projects
      </p>
    </h2>
  </div>
</div>

<%= turbo_stream_from "projects" %>

<%= turbo_frame_tag "projects" do %>
  <%= render "form", project: @project %>
<% end %>

<% if current_user.admin? %>
  <%= turbo_frame_tag "projects" do %>
    <%= render @projects %>
  <% end %>
<% else %>
  <%= turbo_frame_tag "projects" do %>
    <%= render @projects %>

  <% end %>
<% end %>

